<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bsoft.examination.mapper.resource.ReserveTemplateMapper">

    <select id="getUnInitReserveResource" parameterType="string"
            resultType="ReserveTemplate">
        select
               id,
               week,
               time_slot,
               total_limit
        from ReserveTemplate
        where init_flag = '0' and status = '1' and check_item = #{checkItem,jdbcType=VARCHAR}
    </select>
    <select id="getRotateReserveResource" resultType="ReserveResource">
        select
               a.check_item,
               a.total_limit,
               a.time_slot,
               convert(datetime,convert(varchar(10),dateadd(day, b.days, getdate()),120)) as reserve_date,
               a.total_limit as available_limit
        from ReserveTemplate a left join CheckItem b on a.check_item = b.code
        where a.status = '1' and b.status = '1' and a.init_flag = '1'
    </select>
</mapper>